@model TT_GeeksForLess_Vladyslav_Slyzkoukhyi.Models.CreatingDigitalImages

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CreatingDigitalImages</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResourcesId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResourcesId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GraphicProductId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GraphicProductId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EvidenceId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EvidenceId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
